<div class="modal-header">
  <div *ngIf="isClinician"><h4 class="modal-title">Delete Clinician</h4></div>
  <div *ngIf="isParent"><h4 class="modal-title">Delete Parent</h4></div>
  <div *ngIf="isClinic"><h4 class="modal-title">Delete Clinic</h4></div>
  <div *ngIf="isQuestionnaire"><h4 class="modal-title">Delete Questionnaire</h4></div>
  <div *ngIf="isResearch"><h4 class="modal-title">Delete Researcher</h4></div>
  <div *ngIf="isParticipant"><h4 class="modal-title">Delete Participant</h4></div>
  <div *ngIf="isResearch_institution"><h4 class="modal-title">Delete Research Institution</h4></div>
  <button type="button" class="close" aria-label="Close" (click)="onDismiss('Cross click')">
    <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
  </button>
</div>
<div class="modal-body" [hidden]="!hidden">
  <div>You will need to press Delete on next screen to confirm deletion</div>
  <div>Once deleted this cannot be undone</div>
  <div>Press Ok to continue</div>
</div>
<div class="modal-footer" [hidden]="!hidden">
  <button class="btn btn-primary" type="button" (click)="onDismiss('Close click')">Cancel</button>
  <button class="btn btn-danger" type="button" (click)="hidden = false">Ok</button>
</div>
<div class="modal-body" [hidden]="hidden">
  <div *ngIf="isClinician">Are you sure you want to delete this clinician?</div>
  <div *ngIf="isParent">Are you sure you want to delete this parent?</div>
  <div *ngIf="isClinic">Are you sure you want to delete this clinic?</div>
  <div *ngIf="isResearch">Are you sure you want to delete this researcher?</div>
  <div *ngIf="isResearch_institution">Are you sure you want to delete this research institution?</div>
  <div *ngIf="isQuestionnaire">Are you sure you want to delete this result?</div>
<div *ngIf="isParticipant">Are you sure you want to delete this participant?</div>
</div>
<div class="modal-footer" [hidden]="hidden">
  <button class="btn btn-primary" type="button" (click)="onDismiss('Close click')">Cancel</button>
  <button class="btn btn-danger" type="button" (click)="onClose()">Delete</button>
</div>
