h2 {
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
}

.header {
    background-color: #3ec2c7;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 999;
}

.links {
    padding-top: 22px;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}


/* Style tab links */

.tab-link {
    margin-top: 10px;
    background-color: #35a2a6;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    font-size: 17px;
    width: 20%;
    text-align: center;
}

.active {
    background-color: #2b8487;
    color: white;
}

.tab-link:hover {
    background-color: #2b8487;
    color: white;
    font-weight: bold;
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

.login-button {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 20px 10px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
    background-color: #2c387e;
}