<title> Research Portal </title>

<div class="header">
    <h2 matDialogTitle>Research Portal</h2>
    <div class="login-button">
        <button mat-raised-button (click)="logout()">Log out <i class="fa fa-sign-out" aria-hidden="true"></i></button>
    </div>
    <div align="center"><i> <img src="assets/images/logo.png" alt="" height="80" width="80"> </i></div>
    <a class="tab-link" routerLink="/researcher/home" routerLinkActive="active">Home</a>
    <a class="tab-link" routerLink="/researcher/history" routerLinkActive="active">Results History</a>
    <a class="tab-link" routerLink="/researcher/questionnaire" routerLinkActive="active">Sample Questionnaire</a>


</div>
