<admin-header></admin-header>

<form  #myForm="ngForm">
  <div class="form-group">
    <div class="container_page" *ngIf="dataLoaded">
      <div class="container" style="margin-top: 15px;"><a routerLink="/admin/home"><span
            class="fa fa-chevron-circle-left"></span> Back to Food Item(s)</a></div>
      <div *ngIf="isUpdate" class="container mt-3" align="right">
        <button type="submit" class="btn btn-primary col-3 margin" (click)="updateFoodNutrients()"
          [disabled]="!myForm.form.valid"> Update Food Item </button>
      </div>
      <div *ngIf="isNew" class="container mt-3" align="right">
        <button type="submit" class="btn btn-primary col-3 margin" (click)="addFoodNutrients()"
          [disabled]="!myForm.form.valid"> Add Food Item </button>

      </div>
      <div class="container frame-fooditem">
        <h6> Food Item </h6>
        <div class="row">
          <div class="form-group col-12">
            <label style="font-weight: bold"> Name </label><label style="font-style: italic; font-size: small; margin-left: 10px"> *required </label>
            <input placeholder="name" style="border-color: mediumblue; border-width: 0.05cm" name="name" type="text"
              class="form-control" [(ngModel)]="foodNutrientsItem[0].foodItem.name" required #nameField="ngModel"/>

          </div>
          <div class="form-group col-3 form-check" style="margin-left: 20px">
            <input class="form-check-input" type="checkbox" name="primary"
              [(ngModel)]="foodNutrientsItem[0].foodItem.primary" id="isPrimary" />
            <label class="form-check-label" for="isPrimary"> Primary </label>
          </div>
          <div class="form-group col-3 form-check">
            <input class="form-check-input" type="checkbox" name="sugar"
              [(ngModel)]="foodNutrientsItem[0].foodItem.sugar.additionalSugar" id="additionalSugar">
            <label class="form-check-label" for="additionalSugar"> Additional Sugar </label>
          </div>
          <div class="form-group col-12 form-check">
            <label style="font-weight: bold"> Servings* </label> (Enter the servings separated by commas i.e: 1 oz, 2
            oz, 3 oz)<label style="font-style: italic; font-size: small; margin-left: 10px;font-weight: bold"> *required </label> <br>
            <label style="font-style: italic"> *Serving(s) the user will see/select for this food item when completing
              the questionnaire </label>
            <input placeholder="servings" name="servings" type="text" class="form-control"
              style="border-color: mediumblue; border-width: 0.05cm"
              [(ngModel)]="foodNutrientsItem[0].foodItem.servingsList" required #servingField="ngModel" />
          </div>
        </div>
        <hr>
        <label style="font-weight: bold">Nutrients*</label>
        <!--<div style="display: flex"><label style="padding: 10px; font-style: italic">*in Portion Size</label><input
            style="width: 150px; height: 35px" placeholder="portion size" type="text" class="form-control"
            name="portion" [(ngModel)]=foodNutrientsItem[0].foodItem.portionSize /></div>
          -->
        <div class="col-12">
          <label style="font-weight: bold"> Food Type(s) - Total:
            <span>{{foodNutrientsItem[0].foodItem.foodTypes.length}} </span></label><br>

          <div *ngFor="let foodtype of foodNutrientsItem[0].foodItem.foodTypes; let i = index">
            <div style="margin: 10px 0 10px 0" class="row">

              <!--
              <div class="col-4">
                <label style="font-weight: bold" class="form-check-label" for="fooditemname"> Name </label><label style="font-style: italic; font-size: small; margin-left: 10px;"> *required </label>
                <input id="fooditemname" style="border-color: mediumblue; border-width: 0.05cm" placeholder="food type"
                  type="text" class="form-control" name="nutrientname" required #nutrientnameField="ngModel"
                  [(ngModel)]=foodtype.typeName />
              </div>
              -->
              <div class="col-4">
                <label class="form-check-label" style="font-weight: bold" for="additionalSugar"> ID </label><label style="font-style: italic; font-size: small; margin-left: 10px;"> *required </label>
                <input placeholder="nutrient list id" type="text" style="border-color: mediumblue; border-width: 0.05cm"
                  class="form-control" name="addsugar" [(ngModel)]=foodtype.nutrientListID required
                  #idField="ngModel" />
              </div>

            </div>

            <div class="row"
              *ngFor="let nutrient1 of foodNutrientsItem[0].nutrientList[i].nutrientMap | keyvalue; let j = index; trackBy: trackByFn"
              style="padding:5px">
              <div class="col-1"></div>
              <div class="col-5">{{nutrient1.key}}</div>
              <!-- <div class="col-2"><input class="form-control" name="nutrients" -->
              <!-- Parental group added the code above without adding comments, what was the reason for this change?-->
              <div class="col-2"><input class="form-control" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="foodNutrientsItem[0].nutrientList[i].nutrientMap[nutrient1.key]"></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</form>
