.container_page{
  padding-top: 200px;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  color: aliceblue;
}

  .frame-fooditem{
    border-style: solid;
    border-width: 1px;
    padding:10px;
    
    border-radius: 5px;
    margin-top:20px;
    margin-bottom:10px;
  }  
  
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: rgb(149, 67, 156);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.3%;
  }
  
  .tablink:hover {
    background-color: #3f51b5;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }

  .slide {
    display: inline-block;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey;
    opacity: 1; /* Firefox */
    font-style: italic;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgrey;
    opacity: 1; /* Firefox */
    font-style: italic;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: lightgrey;
    opacity: 1; /* Firefox */
    font-style: italic;
  }

  .field-error {
    border:2px solid red;
  
  }
  
  
  