h2 {
  text-align: center;
  color: aliceblue;
}

a {
  text-decoration: none;
  color: inherit;
}

.links{
  padding-top: 22px;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */


.active{
  background-color: #2C387E;
  color: white;
}
.tab-link:hover {
  background-color: #B2B9E1;
  color: #2C387E;
  font-weight: bold;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.login-button {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 20px 10px;
}

  a {
    text-decoration: none;
  }

  .header{
    background-color: #0039E6;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 999;
  }

  .links{
    padding-top: 22px;
  }

  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }

  /* Style tab links */
  .tab-link {
    background-color: #4d79ff;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    font-size: 17px;
    width: 16.667%;
    text-align:center;
  }

  .active{
    background-color: #002699;
    color: white;
  }
  .tab-link:hover {
    background-color: #B2B9E1;
    color: #2C387E;
    font-weight: bold;
  }

  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }

  .login-button {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 20px 10px;


  }

.center {
  display: block;
  margin:auto;  
}

.header-logo {
  cursor: pointer;
}


